<h1>Register</h1>
<a ui-sref="login">Login</a>
<a ui-sref="register">Register</a>
<a ui-sref="home">Home</a>

<div ng-controller="registerCTRL">
	
	<form class='form'  ng-submit="login(email, password)">
	
		<div>Email</div>
			<input type="text" ng-model="email" placeholder="pk23@gmail.com">
	
		<div>Password</div>
			<input type="password" ng-model="password" placeholder="Enter your password">

	
		<button type="submit">Submit</button>
	</form>

	<span ng-show = "pwFail">Please enter a password</span><br>
	<span ng-show = "emailFail">Please enter a valid email address</span>
	

</div>